<header class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item left quarter">
    <a class="topcoat-icon-button--quiet">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h1 class="topcoat-navigation-bar__title">Sprint Logo</h1>
  </div>
  <div class="topcoat-navigation-bar__item right quarter">
    <a class="topcoat-icon-button--quiet">
      <p class="topcoat-navigation-bar__title">Log In <span class="icomatic">user</span> </p>
    </a>
  </div>
</header>
  <h2>"I switched from AT&T from Sprint and couldn't be happier with my decision!"</h2>
  <section class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
      <p class="topcoat-navigation-bar__title">- Joan from Illinois</p>
    </div>
    <div class="topcoat-navigation-bar__item center half">
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
      <button class="topcoat-icon-button--quiet" ng-click="go('/swipeTest')">
        Why Sprint?
        <span class="icomatic">next</span>
      </button>
    </div>
  </section>
  <section class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
      <h2 class="topcoat-navigation-bar__title">Sprint Deals</h2>
    </div>
    <div class="topcoat-navigation-bar__item center half">
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
      <button class="topcoat-icon-button--quiet">
        Check Them Out
        <span class="icomatic">next</span>
      </button>
    </div>
  </section>
  <section>
    <h2>Phones</h2> <h3>See All</h3>
    <div class="slider-container">
      <div class="slider-contents" style="width: 840px; height: 100px;">
        <div class="slider-item" ng-repeat="phoneCategory in phoneCategories">
          <h3>{{phoneCategory.name}}</h3>
          <img ng-src="{{phoneCategory.image}}">
        </div>
      </div>
    </div>
    <input type='range' class='topcoat-range-input'>
  </section>
  <section>
    <h2>Plans</h2> <h3>See All</h3>
    <input type='range' class='topcoat-range-input'>
  </section>
  <section>
    <h2>Tablets & Bundles</h2> <h3>See All</h3>
    <input type='range' class='topcoat-range-input'>
  </section>
  <section>
    <h2>iPhone Accesories</h2> <h3>See All</h3>
    <input type='range' class='topcoat-range-input'>
  </section>
  <section>
    <h2>Wi-Fi Hotspots & Data Data Cards</h2> <h3>See All</h3>
    <input type='range' class='topcoat-range-input'>
  </section>